# Environment variables
.env
.env.*

# Configuration files with personal data
configurations.yaml
.DS_Store
init.sh

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Cache
cache/
*.db